.Rproj.user
.Rproj
.Rhistory
.RData
.Ruserdata
*data/
*_cache/
*models/
_posts/**/*.html
_posts/**/*_files/
*.Rproj
_docs/templates/template_review_files/*
_docs/templates/**/*.html
_posts/**/*_files/
