.Rproj.user
.Rproj
.Rhistory
.RData
.Ruserdata
*data/
*_cache/
*models/
*templates/template_review_files/
_posts/**/*.html
_posts/**/*_files/
*.Rproj
docs/templates/template_review_files/*
docs/templates/**/*.html
_posts/**/*_files/
docs/templates/template_grant_files/*
